* {
    margin: 0 auto;
}
body{
    background-color: lightgray;
    margin-top: 80px;
    min-width: 630;
    width: auto;
}
table, th, td {
    border-collapse: collapse;
}
td {
    padding-right: 12px;
}
th {
    padding: 8px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #8e8268;
    color: white;
    padding: 12px;
}
#navBtn, #previousBtn, #nextBtn{
    font-size: 1.34rem;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 16px;
    float: left;
}
#navBtn:hover, #previousBtn:hover, #nextBtn:hover{
    background-color: #8e8268;
}
#tableFloat{
    float: left;
    margin: 50px;
}
/* Dropdown navigation menu largely based off of https://www.w3schools.com/css/css_dropdowns.asp */
.dropbtn {
    background-color: #8e8268;
    color: white;
    padding: 16px;
    font-size: 1.58rem;
    border: none;
    outline: none;
}
/* Table with sticky first row and column based off of: https://stackoverflow.com/a/57524791 */
.scrollable{
    font-family: Arial, Helvetica, sans-serif;
    border: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    /* border-radius: 5px 5px 0 0; */
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.scrollable caption{
    position: absolute;
    z-index: 3;
    background-color: #8e8268;
    color: white;
    text-align: left;
    font-weight: bold;
}
.scrollable th,
.scrollable td {
    padding: 12px 15px;
}
.scrollable th {
    background-color: brown;
    color: white;
    position: sticky;
    top: 0;
}
.scrollable th:first-of-type, .scrollable td:first-of-type {
    left: 0;
    position: sticky;
}
.scrollable th:first-of-type{
    z-index: 2;
}
.scrollable td:first-of-type {
    background: #8e8268;
    color: white;
    z-index: 1;
}
.scrollable tbody tr{
    border-bottom: 1px solid brown;
}
.scrollable tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.scrollable tbody tr:last-of-type {
    border-bottom: 2px solid brown;
}
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: block;
    transition: top 0.3s;
    z-index: 10;
}
.navbar a:hover {
    background: #8e828e;
    color: white;
  }
.searchBtn{
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 1.34rem;
    border: none;
    float:right;
    outline: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
.dropdown-content a, .dropdown-left a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-left{
    float: left;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 120px;
    right: 80px;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
#dropdownState{
    right: 90px;
}
.dropbtnInner {
    background-color: #f1f1f1;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}
.dropdownInner:hover .dropdown-left {
    display: block;
}
.dropdown .dropdownInner:hover .dropbtnInner {
    background-color: #ddd;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #844D36;
}
@media screen and (max-height: 450px){

}
  
@media screen and (max-width: 930px){
    h1{
        font-size: 0.8rem;
    }
    #navBtn, #previousBtn, #nextBtn{
        padding: 10px 5px;
        font-size: 0.8rem;
    }
    .dropbtn, .searchBtn{
        padding: 12px 5px;
        font-size: 0.8rem;
    }
    .dropdown-left{
        right: 35px;
    }
    #dropdownState{
        right: 40px;
    }
    .dropbtnInner{
        padding: 10px 0px;
    }
    #tableFloat{
        margin: 10px;
    }
}