* {
    margin: 0 auto;
}
body{
    background-color: lightgray;
    margin-top: 80px;
    min-width: 630;
    width: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding-right: 12px;
}
h1{
    font-family: Arial;
    background-color:  #8e8268;
    color: white;
    padding: 12px;
}
#navBtn, #previousBtn, #nextBtn{
    font-size: 1.34rem;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 16px;
    float: left;
}
#navBtn:hover, #previousBtn:hover, #nextBtn:hover{
    background-color: #8e8268;
}
/* Dropdown navigation menu largely based off of https://www.w3schools.com/css/css_dropdowns.asp */
.dropbtn {
    background-color: #8e8268;
    color: white;
    padding: 16px;
    font-size: 1.58rem;
    border: none;
    outline: none;
}
.navbar{
    background-color: brown;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar a:hover {
    background: #8e828e;
    color: white;
  }
.searchBtn{
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 1.34rem;
    border: none;
    float:right;
    outline: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a, .dropdown-left a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-left{
    float: left;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 120px;
    right: 80px;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#dropdownState{
    right: 90px;
}
.dropbtnInner {
    background-color: #f1f1f1;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}
.dropdownInner:hover .dropdown-left {
    display: block;
}
.dropdown .dropdownInner:hover .dropbtnInner {
    background-color: #ddd;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #844D36;
}
@media screen and (max-height: 450px){

}
  
@media screen and (max-width: 930px){
    h1{
        font-size: 0.8rem;
    }
    #navBtn, #previousBtn, #nextBtn{
        padding: 10px 5px;
        font-size: 0.8rem;
    }
    .dropbtn, .searchBtn{
        padding: 12px 5px;
        font-size: 0.8rem;
    }
    .dropdown-left{
        right: 35px;
    }
    #dropdownState{
        right: 40px;
    }
    .dropbtnInner{
        padding: 10px 0px;
    }

}