<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type;
        var energy_counts = !!energy_counts!!;  // e.g. {AK: [...], AL: [...], AR: [...], ...}
        var state_abrev = !!state_abrev!!; // [AK, AL, AR, ...]
    </script>
</head>
<body>
    <!-- create template here -->
    <div class="navbar" id="navbar">
        
        <!-- Previous and Next Buttons -->
        <a id="navBtn" style="margin-left:15px;" href="/energy/!!PREV!!">❮ Previous</a>
        <a id="navBtn" href="/energy/!!NEXT!!">Next ❯</a>

        <!-- Energy Header -->
        <h1 style="float:left; margin-left: 15px; text-transform: capitalize;">ENERGY_HEADER</h1>
        
        <!-- Navigation Menu -->
        Navigation Bar

    </div>

    <!-- Selected Energy Image -->
    <img src="/images/energy/!!IMAGE!!.png" alt="!!NAME!!" style="display: block; margin-left: 10px; margin-right: auto; width: 12%;float: left">


    <!-- Line Chart -->
    <div style="width:70%;float: left;">
        <canvas id="line-chart" width="800" height="450"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        //Format data for use in chart
        var label = [];
        for (var i=1960; i<2019; i++) {
            label.push(i);
        }
        var dataset = [];
        for (var j=0; j < state_abrev.length; j++) {
            let randomColor = '#' + Math.floor(Math.random()*16777215).toString(16); //Source: https://css-tricks.com/snippets/javascript/random-hex-color/
            while (randomColor === '#d3d3d3') {
                randomColor = '#' + Math.floor(Math.random()*16777215).toString(16);
            }
            let state = {
                data: energy_counts[state_abrev[j]],
                label: state_abrev[j],
                borderColor: randomColor,
                backgroundColor: randomColor,
                fill: false
            }
            dataset.push(state);
        }

        //Create chart
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: label,
                datasets: dataset
            },
            options: {
                title: {
                display: true,
                text: 'Yearly Consumption By State'
                }
            }
        });
    </script>

    <!-- Generic Energy Image -->
    <img src="/images/energy/energy.png" alt="Energy Image" style="display: block; margin-left: 10px; margin-right: auto; width: 12%; float: left">

    <!-- Table -->  
    TABLE
</body>
</html>
