<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type;
        var energy_counts = !!energy_counts!!;  // e.g. {AK: [...], AL: [...], AR: [...], ...}
    </script>
</head>
<body>
    <!-- create template here -->
    <div class="navbar">
        
        <!-- Previous and Next Buttons -->
        <a id="navBtn" style="margin-left:15px;" href="/energy/!!PREV!!">❮ Previous</a>
        <a id="navBtn" href="/energy/!!NEXT!!">Next ❯</a>

        <!-- Energy Header -->
        <h1 style="float:left; margin-left: 15px; text-transform: capitalize;">ENERGY_HEADER</h1>
        
        <!-- Navigation Menu -->
        Navigation Bar

    </div>

    <!-- Line Chart -->
    


    <!-- Selected Energy Image -->
    <img src="/images/energy/!!IMAGE!!.png" alt="!!NAME!!" style="display: block; margin-left: 10px; margin-right: auto; width: 25%; max-height: 400px; max-width: 400px; clear: both;float: left">

    <!-- Generic Energy Image -->
    <img src="/images/energy/energy.png" alt="Energy Image" style="display: block; margin-left: 10px; margin-right: auto; width: 25%; padding-top: 40px; max-height: 300px; max-width: 300px; float: left">
    
    <!-- Table -->  
    TABLE
</body>
</html>
