<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state;
        var coal_counts;  // e.g. [1234, 2567, ...]
        var natural_gas_counts;
        var nuclear_counts;
        var petroleum_counts;
        var renewable_counts;
    </script>
</head>
<body>
    <!-- create template here -->
    <div class="navbar" id="navbar">

        <!-- Previous and Next Buttons -->
        <a id="navBtn" style="margin-left:15px;" href="/state/!!PREV!!">❮ Previous</a>
        <a id="navBtn" href="/state/!!NEXT!!">Next ❯</a>

        <h1 style="float:left; margin-left: 15px">!!TITLE!!</h1>

        <!-- Navigation Menu -->
        Navigation Bar

    </div>

    

    <img src="/images/states/!!IMAGE!!.png" alt="!!NAME!!" style="display: block; margin-left: 10px; margin-right: auto; width: 25%; clear: both;float: left">

    <div style="width:70%; float: right; margin-right: 25px;">
        <div class="chartjs-style-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class></div>
            </div>
            <div class="chart-size-monitor-shrink">
                <div class></div>
            </div>
        </div>
        <canvas id="area-graph" style="display: block; width: 800; height: 450;" width="800" height="450" class="chartjs-render-monitor"></canvas>
    </div>
 

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="application/javascript">
        new Chart(document.getElementById("area-graph"), {
            type: 'line',
            data: {

                labels: [!!YEAR!!],

                datasets: [{
                    label: 'Coal',
                    borderColor: '#003f5c',
                    backgroundColor: '#003f5c',
                    data: [!!COAL!!],
                }, {
                    label: 'Natural Gas',
                    borderColor: '#58508d',
                    backgroundColor: '#58508d',
                    data: [!!GAS!!],
                }, {
                    label: 'Nuclear',
                    borderColor: '#bc5090',
                    backgroundColor: '#bc5090',
                    data: [!!NUCLEAR!!],
                }, {
                    label: 'Petroleum',
                    borderColor: '#ff6361',
                    backgroundColor: '#ff6361',
                    data: [!!PETRO!!],
                }, {
                    label: 'Renewable',
                    borderColor: '#ffa600',
                    backgroundColor: '#ffa600',
                    data: [!!RENEWABLE!!]
                }]

            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Percentage of Energy Consumption by Type by Year - State of !!GRAPHTITLE!!'
                },
                tooltips: {
                    mode: 'index'
                },
                hover: {
                    mode: 'index'
                },
                scales:{
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Year'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 100,
                            min: 0
                        },
                        stacked: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Percent Consumption'
                        }
                    }]
                }
            }
        });
    </script>

<img src="/images/states/usa.png" alt="The United States of America" style="display: block; clear: both; margin-left: 10px; margin-right: auto; width: 25%; float: left">    

    <p>!!TABLE!!</p>


</body>
</html>
