<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="application/javascript">
        // total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;
    </script>
</head>
<body>
    <div class="navbar">
   
        <!-- Previous and Next Buttons -->
        <a id="previousBtn" style="margin-left:15px;" href="/year/1980">❮ Previous</a>
        <a id="nextBtn" href="/year/1980">Next ❯</a>
        <script type="application/javascript">
            var previousBtn = document.getElementById("previousBtn");
            var nextBtn = document.getElementById("nextBtn");
            if (year === 1960){
                previousBtn.setAttribute("href","/year/2018");
                nextBtn.setAttribute("href","/year/1961");
            }
            else if (year === 2018){
                previousBtn.setAttribute("href","/year/2017");
                nextBtn.setAttribute("href","/year/1960");
            }
            else {
                let prev = year - 1;
                let next = year + 1;
                previousBtn.setAttribute("href","/year/" + prev);
                nextBtn.setAttribute("href","/year/" + next);
            }
        </script>

        <!-- Year Header -->
        <h1 style="float:left; margin-left: 15px">YEAR_HEADER</h1>

        <!-- Navigation Menu -->
        Navigation Bar

    </div>

    <!-- Pie Chart -->
    <div style="width:70%;">
        <canvas id="pie-chart" width="800" height="450"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="application/javascript">
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
            labels: ["Coal", "Natural Gas", "Nuclear", "Petroleum", "Renewable"],
            datasets: [{
                label: "billion Btu",
                backgroundColor: ["#003f5c","#58508d", "#bc5090", "#ff6361", "#ffa600"],
                data: [coal_count, natural_gas_count, nuclear_count, petroleum_count, renewable_count]
            }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total Energy Consumption Counts for the Entire US during ' + year
                }
            }
        });
    </script>

    <!-- Table -->  
    TABLE
</body>
</html>
