<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="application/javascript">
        // total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;
    </script>
</head>
<body>
    <!-- Year Header -->
    <h1 style="float:left">YEAR_HEADER</h1>

    <!-- Previous and Next Buttons -->
    <a id="previousBtn" style="margin-left:10px;" href="/year/1980"><div class="arrow" style="transform: rotate(135deg);-webkit-transform: rotate(135deg);"></div> Previous</a>
    <a id="nextBtn" href="/year/1980">Next <div class="arrow"></div></a>
    <script type="application/javascript">
        var previousBtn = document.getElementById("previousBtn");
        var nextBtn = document.getElementById("nextBtn");
        if (year === 1960){
            previousBtn.setAttribute("href","/year/2018");
            nextBtn.setAttribute("href","/year/1961");
        }
        else if (year === 2018){
            previousBtn.setAttribute("href","/year/2017");
            nextBtn.setAttribute("href","/year/1960");
        }
        else {
            let prev = year - 1;
            let next = year + 1;
            previousBtn.setAttribute("href","/year/" + prev);
            nextBtn.setAttribute("href","/year/" + next);
        }
    </script>

    <!-- Navigation Menu -->
    <div class="dropdown" style="float:right">
        <button class="dropbtn">Year</button>
        <div class="dropdown-content">
            <div class="dropdownInner">
                <button class="dropbtnInner">1960s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/1960">1960</a>
                    <a href="/year/1961">1961</a>
                    <a href="/year/1962">1962</a>
                    <a href="/year/1963">1963</a>
                    <a href="/year/1964">1964</a>
                    <a href="/year/1965">1965</a>
                    <a href="/year/1966">1966</a>
                    <a href="/year/1967">1967</a>
                    <a href="/year/1968">1968</a>
                    <a href="/year/1969">1969</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">1970s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/1970">1970</a>
                    <a href="/year/1971">1971</a>
                    <a href="/year/1972">1972</a>
                    <a href="/year/1973">1973</a>
                    <a href="/year/1974">1974</a>
                    <a href="/year/1975">1975</a>
                    <a href="/year/1976">1976</a>
                    <a href="/year/1977">1977</a>
                    <a href="/year/1978">1978</a>
                    <a href="/year/1979">1979</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">1980s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/1980">1980</a>
                    <a href="/year/1981">1981</a>
                    <a href="/year/1982">1982</a>
                    <a href="/year/1983">1983</a>
                    <a href="/year/1984">1984</a>
                    <a href="/year/1985">1985</a>
                    <a href="/year/1986">1986</a>
                    <a href="/year/1987">1987</a>
                    <a href="/year/1988">1988</a>
                    <a href="/year/1989">1989</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">1990s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/1990">1990</a>
                    <a href="/year/1991">1991</a>
                    <a href="/year/1992">1992</a>
                    <a href="/year/1993">1993</a>
                    <a href="/year/1994">1994</a>
                    <a href="/year/1995">1995</a>
                    <a href="/year/1996">1996</a>
                    <a href="/year/1997">1997</a>
                    <a href="/year/1998">1998</a>
                    <a href="/year/1999">1999</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">2000s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/2000">2000</a>
                    <a href="/year/2001">2001</a>
                    <a href="/year/2002">2002</a>
                    <a href="/year/2003">2003</a>
                    <a href="/year/2004">2004</a>
                    <a href="/year/2005">2005</a>
                    <a href="/year/2006">2006</a>
                    <a href="/year/2007">2007</a>
                    <a href="/year/2008">2008</a>
                    <a href="/year/2009">2009</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">2010s</button>
                <div class="dropdown-left" style="float:left">
                    <a href="/year/2010">2010</a>
                    <a href="/year/2011">2011</a>
                    <a href="/year/2012">2012</a>
                    <a href="/year/2013">2013</a>
                    <a href="/year/2014">2014</a>
                    <a href="/year/2015">2015</a>
                    <a href="/year/2016">2016</a>
                    <a href="/year/2017">2017</a>
                    <a href="/year/2018">2018</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown" style="float:right">
        <button class="dropbtn">State</button>
        <div class="dropdown-content">
            <div class="dropdownInner">
                <button class="dropbtnInner">A - G</button>
                <div class="dropdown-left" style="float:left; right:1">
                    <a href="/state/AL">Alabama</a>
                    <a href="/state/AK">Alaska</a>
                    <a href="/state/AZ">Arizona</a>
                    <a href="/state/AR">Arkansas</a>
                    <a href="/state/CA">California</a>
                    <a href="/state/CO">Colorado</a>
                    <a href="/state/CT">Connecticut</a>
                    <a href="/state/DE">Delaware</a>
                    <a href="/state/DC">District of Columbia</a>
                    <a href="/state/FL">Florida</a>
                    <a href="/state/GA">Georgia</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">H - L</button>
                <div class="dropdown-left" style="float:left; right:1">
                    <a href="/state/HI">Hawaii</a>
                    <a href="/state/ID">Idaho</a>
                    <a href="/state/IL">Illinois</a>
                    <a href="/state/IN">Indiana</a>
                    <a href="/state/IA">Iowa</a>
                    <a href="/state/KS">Kansas</a>
                    <a href="/state/KY">Kentucky</a>
                    <a href="/state/LA">Louisiana</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">M</button>
                <div class="dropdown-left" style="float:left; right:1">
                    <a href="/state/ME">Maine</a>
                    <a href="/state/MD">Maryland</a>
                    <a href="/state/MA">Massachusetts</a>
                    <a href="/state/MI">Michigan</a>
                    <a href="/state/MN">Minnesota</a>
                    <a href="/state/MS">Mississippi</a>
                    <a href="/state/MO">Missouri</a>
                    <a href="/state/MT">Montana</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">N - O</button>
                <div class="dropdown-left" style="float:left; right:1">
                    <a href="/state/NE">Nebraska</a>
                    <a href="/state/NV">Nevada</a>
                    <a href="/state/NH">New Hampshire</a>
                    <a href="/state/NJ">New Jersey</a>
                    <a href="/state/NM">New Mexico</a>
                    <a href="/state/NY">New York</a>
                    <a href="/state/NC">North Carolina</a>
                    <a href="/state/ND">North Dakota</a>
                    <a href="/state/OH">Ohio</a>
                    <a href="/state/OK">Oklahoma</a>
                    <a href="/state/OR">Oregon</a>
                </div>
            </div>
            <div class="dropdownInner">
                <button class="dropbtnInner">P - Z</button>
                <div class="dropdown-left" style="float:left; right:1">
                    <a href="/state/PA">Pennsylvania</a>
                    <a href="/state/RI">Rhode Island</a>
                    <a href="/state/SC">South Carolina</a>
                    <a href="/state/SD">South Dakota</a>
                    <a href="/state/TX">Texas</a>
                    <a href="/state/UT">Utah</a>
                    <a href="/state/VT">Vermont</a>
                    <a href="/state/VA">Virginia</a>
                    <a href="/state/WA">Washington</a>
                    <a href="/state/WV">West Virginia</a>
                    <a href="/state/WI">Wisconsin</a>
                    <a href="/state/WY">Wyoming</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown" style="float:right">
        <button class="dropbtn">Energy Source</button>
        <div class="dropdown-content">
          <a href="/energy/coal">Coal</a>
          <a href="/energy/natural_gas">Natural Gas</a>
          <a href="/energy/nuclear">Nuclear</a>
          <a href="/energy/petroleum">Petroleum</a>
          <a href="/energy/renewable">Renewable</a>
        </div>
    </div>
    <button class="searchBtn">Search By:</button>

    <!-- Pie Chart -->
    <canvas id="pie-chart" width="800" height="450"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="application/javascript">
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
            labels: ["Coal", "Natural Gas", "Nuclear", "Petroleum", "Renewable"],
            datasets: [{
                label: "billion Btu",
                backgroundColor: ["#003f5c","#58508d", "#bc5090", "#ff6361", "#ffa600"],
                data: [coal_count, natural_gas_count, nuclear_count, petroleum_count, renewable_count]
            }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total Energy Consumption Counts for the Entire US during ' + year
                }
            }
        });
    </script>

    <!-- Table -->  
    TABLE
</body>
</html>
